<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD3SYwcisQT6_Z7GiaURKeHIHBcu38Mz-c</string>
	<key>GCM_SENDER_ID</key>
	<string>959677958002</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chain.voteradviceapplication</string>
	<key>PROJECT_ID</key>
	<string>voter-advice</string>
	<key>STORAGE_BUCKET</key>
	<string>voter-advice.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:959677958002:ios:25ea85e795927db015ffeb</string>
</dict>
</plist>